        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Poppins', sans-serif;
            background: rgb(49, 53, 85);
            background: linear-gradient(176deg, rgb(45, 44, 78) 0%, rgba(38,50,81,1) 51%, rgba(102,109,120,1) 100%);
            color: white;
        }

        .container {
            width: 85%;
            margin: 0 auto;
            padding: 10px;
        }

        h1,
        h2,
        h3 {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 20px;
        }

        header {
            text-align: center;
            padding: 30px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }

        .container.profile-header {
            padding-top: 70px;
            position: static;
            background: rgb(226, 231, 255);
            max-width: 700px;
            margin: 0 auto;
            border-radius: 25px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.53);
            text-align: center;
            z-index: 1;
        }

        .container.profile-header h1 {
            color: #ffffff;
            text-shadow: 0 4px 18px rgb(81, 75, 107);
            -webkit-text-stroke: 2px #2e205c; /* Bordure noire autour du texte */
            padding: 15px;
        }

        .header-title-wrapper {
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        .header-title-wrapper span {
            padding: 15px;
            font-size: larger;
            color: #2a1c5a;
        }

        .header-title-wrapper img {
            width: 60px;
            height: 60px;
        }

        .flip-container {
            top: 70px;
            position: relative;
            width: 150px;
            height: 150px;
            perspective: 1000px;
            margin: 0 auto; /* Centre la carte dans le conteneur */
            margin-top: -75px; /* Positionne devant le conteneur */
            z-index: 2;
        }
        
        .flip-card {
            width: 100%;
            height: 100%;
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.6s;
        }
        
        .flip-container:hover .flip-card {
            transform: rotateY(180deg);
        }
        
        .profile-picture {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            border: 5px solid rgb(255, 255, 255);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.625);
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;
        }
        
        .front {
            z-index: 2;
            transform: rotateY(0deg);
        }
        
        .back {
            transform: rotateY(180deg);
            backface-visibility: hidden;
        }
        
        /* For devices with a width of 768px or smaller (Tablets and below) */
        @media (max-width: 768px) {
            .container.profile-header {
                max-width: 90%; /* Make the container take up 90% of the screen width */
                padding-top: 70px; /* Adjust the padding for smaller screens */
            }

            .container.profile-header h1 {
                font-size: 2rem; /* Adjust the font size for smaller screens */
            }

            .container.profile-header span {
                font-size: 1rem; /* Adjust the font size for smaller screens */
            }

            .flip-container {
                width: 120px;
                height: 120px;
            }

            .flip-container .profile-picture {
                width: 120px;
                height: 120px;
            }
        }

        /* For devices with a width of 480px or smaller (Mobile Phones) */
        @media (max-width: 480px) {
            .container.profile-header {
                max-width: 95%; /* Further adjust the container width for mobile phones */
                padding-top:70px; /* Reduce the padding for mobile */
            }

            .container.profile-header h1 {
                font-size: 1.5rem; /* Further reduce font size */
            }

            .flip-container {
                width: 100px;
                height: 100px;
            }

            .flip-container .profile-picture {
                width: 100px;
                height: 100px;
            }

            .header-title-wrapper {
                flex-direction: column; /* Stack elements vertically for smaller screens */
            }

            .header-title-wrapper span {
                padding: 5px;
                font-size: 1.1rem;
            }
        }
        
        header h1 {
            font-size: 3rem;
            letter-spacing: 4px;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            color: #ffffff;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.529);
        }

        header h3 {
            font-size: 1.3rem;
            color: #ffffff;
        }

        /* About section */
        #about {
            padding: 50px 0;
            text-align: center;
        }

        #about h2 {
            font-size: 2rem;
            margin-bottom: 25px;
        }

        /* Skills section */
        #skills {
            color: #3b3838;
            margin-top: 70px;
            background-color: whitesmoke;
            padding: 8em 2em;
        }

        #skills h2 {
            text-align: center;
            font-size: 36px;
            margin-bottom: 40px;
        }

        /* Wrapper for scrolling skills */
        .skills-cards {
            display: flex;
            overflow: hidden;
            justify-content: flex-start;
            gap: 20px;
            white-space: nowrap;
            animation: scroll 60s linear infinite;
        }

        .skills-cards .card {
            flex: 0 0 auto;
        }

        .slide-track {
            width: 100%;
            display: flex;
            gap: 3em;
            overflow: hidden;
          }

        .card {
            background-color: #ffffff;
            /* Fond blanc pour chaque carte */
            padding: 20px;
            border-radius: 25px;
            text-align: center;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .card:hover {
            transform: translateY(-10px);
            /* Légère élévation au survol */
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        }

        .card img {
            width: 85px;
            height: 85px;

        }

        .slide-track {
            width: 100%;
            display: flex;
            gap: 3em;
            overflow: hidden;
        }

        .slider {
            margin-top: 70px;
            background-color: whitesmoke;
            padding: 8em 2em;
        }

        @keyframes scroll {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translatex(-1000%)
            }
        }

        /* Projects section */
        #projects {
            padding: 40px 0;
            background: #fff;
        }

        #projects h2 {
            text-align: center;
            margin-bottom: 30px;
        }

        .project {
            background: #f4f4f4;
            margin-bottom: 20px;
            padding: 20px;
            border-radius: 5px;
        }

        .project h3 {
            font-size: 1.5rem;
        }

        .project p {
            font-size: 1.1rem;
        }

        /* Contact section */
        #contact {
            background-color: #f9f9f9;
            padding: 60px 0;
            color: #333;
        }

        #contact h2 {
            text-align: center;
            font-size: 36px;
            margin-bottom: 20px;
        }

        #contact form {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }

        #contact form div {
            margin-bottom: 20px;
        }

        #contact form label {
            display: block;
            font-weight: 600;
        }

        #contact form input,
        #contact form textarea {
            width: 100%;
            padding: 10px;
            margin-top: 8px;
            border: 1px solid #ddd;
            border-radius: 6px;
        }

        #contact form button {
            background-color: #333;
            color: #fff;
            padding: 12px 20px;
            border: none;
            border-radius: 6px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        #contact form button:hover {
            background-color: #555;
        }

        .contact-links {
            text-align: center;
            margin-top: 30px;
        }

        .contact-links ul {
            list-style-type: none;
            padding: 0;
        }

        .contact-links ul li {
            display: inline-block;
            margin: 0 15px;
        }

        .contact-links ul li a {
            font-size: 18px;
            color: #333;
            text-decoration: none;
            font-weight: 600;
            transition: color 0.3s;
        }

        .contact-links ul li a:hover {
            color: #0077b5;
            /* Couleur pour LinkedIn, vous pouvez l'ajuster */
        }


        /* Footer styles */
        footer {
            background: #333;
            color: white;
            text-align: center;
            padding: 20px 0;
        }

        footer p {
            font-size: 1rem;
        }