        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Poppins', sans-serif;
            background: #363867;
            background: linear-gradient(180deg, #343b89 0%, rgb(42, 57, 95) 40%, rgb(111, 119, 174) 100%);
            color: white;
        }

        .container {
            width: 80%;
            margin: 0 auto;
            padding: 10px;
        }

        h1,
        h2,
        h3 {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 5px;
        }

        header {
            text-align: center;
            padding: 30px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }

        .container.profile-header {
            padding-top: 70px;
            position: static;
            background: rgb(216, 222, 255);
            max-width: 800px;
            margin: 0 auto;
            border-radius: 25px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.53);
            text-align: center;
            z-index: 1;
        }

        .container.profile-header h1 {
            color: #ffffff;
            -webkit-text-stroke: 2px #232946;
            margin-top: 7px;
            padding: 5px;
            letter-spacing: 5px;
        }

        .header-title-wrapper {
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        .header-title-wrapper span {
            padding: 18px;
            font-size: 1.4rem;
            color: #2d236e;
        }

        .header-title-wrapper img {
            width: 50px;
            height: 50px;
        }

        .flip-container {
            top: 70px;
            position: relative;
            width: 150px;
            height: 150px;
            perspective: 1000px;
            margin: 0 auto;
            /* Centre la carte dans le conteneur */
            margin-top: -75px;
            /* Positionne devant le conteneur */
            z-index: 2;
        }

        .flip-card {
            width: 100%;
            height: 100%;
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.6s;
        }

        .flip-container:hover .flip-card {
            transform: rotateY(180deg);
        }

        .profile-picture {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            border: 5px solid rgb(255, 255, 255);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.625);
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;
        }

        .front {
            z-index: 2;
            transform: rotateY(0deg);
        }

        .back {
            transform: rotateY(180deg);
            backface-visibility: hidden;
        }

        /* For devices with a width of 768px or smaller (Tablets and below) */
        @media (max-width: 768px) {
            .container.profile-header {
                max-width: 90%;
                /* Make the container take up 90% of the screen width */
                padding-top: 70px;
                /* Adjust the padding for smaller screens */
            }

            .container.profile-header h1 {
                /* Adjust the font size for smaller screens */
                font-size: 2rem;
            }

            .container.profile-header span {
                font-size: 1rem;

            }

            .flip-container {
                width: 120px;
                height: 120px;
            }

            .flip-container .profile-picture {
                width: 120px;
                height: 120px;
            }

            .container.profile-header h1 {
                font-size: 2rem;
                padding: 10px;
            }

            .header-title-wrapper {
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }

            .header-title-wrapper span {
                padding: 4px;
                font-size: 1.2rem;
                color: #283075;
            }

            .header-title-wrapper img {
                width: 35px;
                height: 35px;
            }

            #about .container {
                max-width: 95%;
            }

        }

        /* For devices with a width of 480px or smaller (Mobile Phones) */
        @media (max-width: 480px) {
            #about .container {
                padding: 2px;
            }

            .container.profile-header {
                max-width: 100%;
                padding-top: 70px;
            }

            .flip-container {
                width: 100px;
                height: 100px;
            }

            .flip-container .profile-picture {
                width: 100px;
                height: 100px;
            }

            .container.profile-header h1 {
                font-size: 2.5rem;
                padding: 10px;
            }

            .header-title-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .header-title-wrapper span {
                padding: 5px;
                font-size: 1.4rem;
            }

            .header-title-wrapper img {
                width: 50px;
                height: 50px;
            }
        }

        header h1 {
            font-size: 2.5rem;
            letter-spacing: 4px;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            color: #ffffff;
        }

        header h3 {
            font-size: 1.3rem;
            color: #ffffff;
        }
        
        .cv-button {
            display: inline-block;
            margin: 20px;
            background-color: #4459b8;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            letter-spacing: 2px;
            border-radius: 25px;
            font-size: 14px;
            font-weight: 600;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.33);
            transition: background-color 0.3s, box-shadow 0.3s;
          }
        
          .cv-button:hover {
            background: rgb(226, 231, 255);
            color: #283075;
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
          }

        /* About section */
        #about {
            padding: 10px;
            text-align: center;
        }

        #about .container {
            max-width: 80%;
        }

        #about p {
            line-height: 1.8rem;
        }

        /* Skills section */
        #skills {
            color: #3b3838;
            background-color: rgb(226, 231, 255);
            padding: 80px;
        }

        #skills h2 {
            text-align: center;
            font-size: 36px;
            margin-bottom: 50px;
        }

        #skills .container {
            width: 100%;
        }

        @keyframes slides {
            from {
                transform: translateX(0);
            }

            to {
                transform: translateX(-50%);
            }
        }

        .logos {
            overflow: hidden;
            white-space: nowrap;
            position: relative;
        }

        .logo_items {
            display: inline-block;
            animation: 30s slides infinite linear;
        }

        .logo_items-wrapper {
            display: inline-flex;
        }

        .logo_items img {
            background: white;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-right: 20px;
            height: 120px;
            width: 120px;
            object-fit: contain;
        }

        .logos:before,
        .logos:after {
            position: absolute;
            top: 0;
            content: '';
            width: 100px;
            height: 100%;
            z-index: 2;
        }

        .logos:before {
            left: 0;
            background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(226, 231, 255));
        }

        .logos:after {
            right: 0;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(226, 231, 255));
        }

        @media (max-width: 768px) {
            .logo_items img {
                background: rgb(255, 255, 255);
                border-radius: 10px;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                padding: 20px;
                margin-right: 10px;
                height: 90px;
                width: 90px;
                object-fit: contain;
            }

            .logos:before,
            .logos:after {
                width: 20px;
            }
        }

        @media (max-width: 480px) {
            #skills .container{
                padding: 40px;
            }

            #skills {
                padding: 10px;
            }

            .logo_items img {
                background: rgb(255, 255, 255);
                border-radius: 10px;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                padding: 20px;
                margin-right: 10px;
                height: 90px;
                width: 90px;
                object-fit: contain;
            }

            .logos:before,
            .logos:after {
                width: 20px;
            }
        }

        /* Projects section */
        #projects {
            padding: 60px;
        }

        #projects h2 {
            text-align: center;
            font-size: 36px;
            margin-bottom: 40px;
        }

        #projects h3 {
            text-align: center;
        }

        .projects-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            gap: 50px;
        }

        .project-card {
            text-align: center;
            background-color: #ffffff;
            color: #2c2b2b;
            padding: 15px;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .project-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
        }

        .project-content {
            padding: 20px;
        }

        .project-date {
            display: inline-block;
            color: rgb(78, 70, 70);
            font-size: 0.9em;
            font-weight: bolder;
            padding: 5px;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .project-title {
            font-size: 1.5em;
        }

        .project-image {
            width: 100%;
            padding: 5px;
            height: 200px;
            object-fit: cover;
            border-radius: 5px;
            box-shadow: 5px 5px 15px 5px #00000068;
        }

        .project-description {
            padding-bottom: 15px;
        }

        .project-button {
            background-color: #4459b8;
            color: white;
            padding: 8px 15px;
            margin-top: 25px;
            letter-spacing: 2px;
            border: none;
            border-radius: 25px;
            font-size: 0.85rem;
            transition: all 0.3s ease;
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.455);
        }

        .project-button:hover {
            background: rgb(226, 231, 255);
            color: #283075;
            
        }

        /* Responsive adjustments for small screens */
        @media (max-width: 480px) {
            #projects {
                padding: 30px;
            }

            #projects h2 {
                font-size: 28px;
            }

            .project-card {
                padding: 10px;
            }

            .projects-grid {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                gap: 50px;
            }

            .project-image {
                height: 150px;
            }
        }

        /* Contact section */
        #contact {
            color: #3b3838;
            background-color: rgb(226, 231, 255);
            padding: 60px;
            text-align: center;
        }
        
        #contact h2 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        #contact p {
            margin-bottom: 20px;
            letter-spacing: 1.6px;
        }
        
        #contact .container {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
        }
        
        .contact-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px 24px;
            border-radius: 25px;
            font-size: 18px;
            text-decoration: none;
            color: white;
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.455);
            width: 200px;
            text-align: center;
            transition: all 0.3s ease;
            margin: 10px; 
        }
        
        .contact-btn i {
            margin-right: 10px;
        }
        
        .whatsapp-btn {
            background-color: #25d366;
        }
        
        .whatsapp-btn:hover {
            background-color: #128C7E;
        }
        
        .linkedin-btn {
            background-color: #0A66C2;
        }
        
        .linkedin-btn:hover {
            background-color: #004182;
        }
        
        .email-btn {
            background-color: #e14020;
        }
        
        .email-btn:hover {
            background-color: #bc3116;
        }

        @media (max-width: 768px) {
            #contact h2 {
                font-size: 28px;
            }
        
            #contact .contact-btn {
                width: 100%; 
                padding: 14px 30px; 
                font-size: 16px;
            }
        }
        
        @media (max-width: 480px) {
            #contact h2 {
                font-size: 24px; 
            }
        
            #contact .contact-btn {
                font-size: 14px; 
            }
        }
        
        footer {
            background: #282838;
            color: white;
            text-align: center;
            padding: 20px 0;
        }

        footer p {
            font-size: 1rem;
            letter-spacing: 2px;
        }